{% extends 'catalog/base.html' %}

{% block title %}Редактирование профиля - Skystore{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Редактирование профиля</h1>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-lg btn-block btn-outline-success">Сохранить</button>
                    <a href="{% url 'catalog:home' %}" class="btn btn-lg btn-block btn-outline-secondary">На главную</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
